<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AI Assistance</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
   <link rel="stylesheet" href="../static/css/style.css">
   <script src="../static/js/sweetalert.min.js" charset="utf-8"></script>
   <script src="../static/js/jq.js" charset="utf-8"></script>
   <script src="../static/js/bootstrap.js" charset="utf-8"></script>
   <script src="../static/js/popper.js" charset="utf-8"></script>
  </head>
  <style media="screen">
    .x{
      border-radius: 120px;
      padding: 100px;
      background-image: url('./static/images/unnamed.png');
      background-size: cover;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      border: 0px;
    }
    .x:hover{
      transition: all .8s;
      transform: scale(1.2);
    }
    .x:active{
      transition: all .8s;
      transform: scale(1);
    }
  </style>
  <body>
    <div class=""align="center">
      <h1>Welcome to AI Assistance</h1>
      <form class="" action="" method="post">
          <input  class="x"type="submit" name="" value="">
      </form>
    <h1>{{cmd}}</h1>
    </div>
  </body>
</html>
